<ion-header [translucent]="true">
  <ion-toolbar color="purple-light">
    <ion-title>
      Component
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>
      1. Action Sheets
    </ion-label>
    <ion-button id="open-action-sheet">Open</ion-button>
    <ion-action-sheet trigger="open-action-sheet" header="Actions" [buttons]="actionSheetButtons"></ion-action-sheet>
  </ion-item>

  <ion-item>
    <ion-label>
      2. Alert Button
    </ion-label>
    <ion-button id="present-alert">Click Me</ion-button>
    <ion-alert
      trigger="present-alert"
      header="บันทึกข้อมูล"
      [buttons]="alertButtons">
    </ion-alert>
  </ion-item>

  <ion-item>
    <ion-label>
      3. Alert Input
    </ion-label>
    <ion-button id="present-alert1">Click Me</ion-button>
      <ion-alert
        trigger="present-alert1"
        header="เพิ่มสมาชิก"
        [buttons]="alertbuttons"
        [inputs]="alertInputs"
      ></ion-alert>
  </ion-item>

  <ion-item>
    <ion-label>
      4. Badges
    </ion-label>
    <ion-list>
      <ion-item>
        <ion-badge>ปวดเฮดกลุ้มฮาร์ท</ion-badge>
      </ion-item>
    </ion-list>
  </ion-item>

  <ion-item>
    <ion-label>
      5. Checkbox
    </ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>

</ion-content>
