// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
	--ion-color-purple-light: #c692e3;
	--ion-color-purple-light-rgb: 198,146,227;
	--ion-color-purple-light-contrast: #000000;
	--ion-color-purple-light-contrast-rgb: 0,0,0;
	--ion-color-purple-light-shade: #ae80c8;
	--ion-color-purple-light-tint: #cc9de6;
}

.ion-color-purple-light {
	--ion-color-base: var(--ion-color-purple-light);
	--ion-color-base-rgb: var(--ion-color-purple-light-rgb);
	--ion-color-contrast: var(--ion-color-purple-light-contrast);
	--ion-color-contrast-rgb: var(--ion-color-purple-light-contrast-rgb);
	--ion-color-shade: var(--ion-color-purple-light-shade);
	--ion-color-tint: var(--ion-color-purple-light-tint);
}
